<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="assets/img/LSand-160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{username}}</p>
                <a><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li class="header">导航菜单</li>
            <li class="treeview" *ngFor="let firstMenu of treeMenu;let i=index" [ngClass]="{'active':(firstMenu.isOpen)}">
                <a (click)="selectFirstMenu(firstMenu)">
                    <i class="glyphicon glyphicon-asterisk"></i> <span>{{firstMenu.name}}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li *ngFor="let secondMenu of firstMenu?.children" [ngClass]="{'active':(secondMenu.isOpen)}">
                        <a (click)="selectSecondMenu(secondMenu)">
                            <i class="{{secondMenu.entity.icon}}"></i> <span>{{secondMenu.name}}</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li *ngFor="let thirdMenu of secondMenu?.children" (click)="selectThirdMenu(thirdMenu,thirdMenu.entity.menuUrl)" [ngClass]="{'active':selectedThirdMenuId==thirdMenu.id}">
                                <a>
                                    <i class="{{thirdMenu.entity.icon}}"></i> {{thirdMenu.name}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>