<my-msg [msg]="msg" (getMsg)="msg_($event)"></my-msg>
<section class="content-header">
    <h1>{{secondName}}<small>{{firstName}}</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">{{firstName}}</a></li>
        <li class="active">{{secondName}}</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">导航菜单</h3>
                    <div class="btn-group" style="margin-left:10px;">
                        <button *ngIf="addMenuButton" type="button" class="btn btn-info" routerLink="../add">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button *ngIf="editMenuButton" type="button" class="btn btn-info" (click)="editMenu()">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button *ngIf="deleteMenuButton" type="button" class="btn btn-info" (click)="deleteMenu()">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <amexio-card-pane>
                        <amexio-pane-body>
                            <amexio-tree-data-table [title]="'菜单列表'" [dataTableBindData]="menuTree" (selectedRecord)="selectedRecord($event)">
                                <amexio-data-table-column [dataIndex]="'name'" [dataType]="'string'" [hidden]="false" [text]="'菜单名称'"></amexio-data-table-column>
                                <!-- <amexio-data-table-column [dataIndex]="'entity.menuId'" [dataType]="'string'" [hidden]="false" [text]="'菜单ID'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.parentId'" [dataType]="'string'" [hidden]="false" [text]="'父菜单ID'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.menuName'" [dataType]="'string'" [hidden]="false" [text]="'菜单名称'"></amexio-data-table-column> -->
                                <amexio-data-table-column [dataIndex]="'entity.menuType'" [dataType]="'string'" [hidden]="false" [text]="'菜单类型'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.menuUrl'" [dataType]="'string'" [hidden]="false" [text]="'菜单URL'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.orderNum'" [dataType]="'string'" [hidden]="false" [text]="'显示顺序'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.target'" [dataType]="'string'" [hidden]="false" [text]="'打开方式'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.visible'" [dataType]="'string'" [hidden]="false" [text]="'菜单状态'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.purview'" [dataType]="'string'" [hidden]="false" [text]="'权限标识'"></amexio-data-table-column>
                                <!-- <amexio-data-table-column [dataIndex]="'entity.icon'" [dataType]="'string'" [hidden]="false" [text]="'菜单图标'"></amexio-data-table-column> -->
                                <amexio-data-table-column [dataIndex]="'entity.createBy'" [dataType]="'string'" [hidden]="false" [text]="'创建者'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.updateBy'" [dataType]="'string'" [hidden]="false" [text]="'更新者'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.createTime'" [dataType]="'string'" [hidden]="false" [text]="'创建时间'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.updateTime'" [dataType]="'string'" [hidden]="false" [text]="'更新时间'"></amexio-data-table-column>
                                <amexio-data-table-column [dataIndex]="'entity.remark'" [dataType]="'string'" [hidden]="false" [text]="'备注信息'"></amexio-data-table-column>
                            </amexio-tree-data-table>
                        </amexio-pane-body>
                    </amexio-card-pane>
                    <div>选中菜单：<span style="font-weight: bold;">{{selectedMenu.name}}</span></div>
                </div>
            </div>
        </div>
    </div>
</section>